body {
	font-family: Helvetica;
	text-align: center;
}

div {
	display: block;
}

h1, h2, h3 {
	font-weight: bold;
}

h1 {
	font-size: 70px;
}

#home,
.banner,
.footer,
a {
	color: white;
}

#home,
.banner {
	background-image: url("../imgs/the-flatiron-building.png");
}

nav a,
.footer a {
	font-size: 18px;
}

.footer {
	background-color: dimgray;
	text-align: left;
	font-size: 11px;
}